@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap&subset=cyrillic');
@font-face {
    font-family: 'Raleway';
    src: local('Raleway Thin'), local('Raleway-Thin'), 
    	 url('../fonts/raleway/ralewaythin.woff2') format('woff2'), 
    	 url('../fonts/raleway/ralewaythin.woff') format('woff'), 
    	 url('../fonts/raleway/ralewaythin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
// @font-face {
//     font-family: 'Raleway';
//     src: local('Raleway Thin Italic'), local('Raleway-ThinItalic'), 
//     	 url('../fonts/ralewaythinitalic.woff2') format('woff2'), 
//     	 url('../fonts/ralewaythinitalic.woff') format('woff'), 
//     	 url('../fonts/ralewaythinitalic.ttf') format('truetype');
//     font-weight: 100;
//     font-style: italic;
// }
@font-face {
    font-family: 'Raleway';
    src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'), 
    	 url('../fonts/raleway/ralewayextralight.woff2') format('woff2'), 
    	 url('../fonts/raleway/ralewayextralight.woff') format('woff'), 
    	 url('../fonts/raleway/ralewayextralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
// @font-face {
//     font-family: 'Raleway';
//     src: local('Raleway ExtraLight Italic'), local('Raleway-ExtraLightItalic'),
//     	 url('../fonts/ralewayextralightitalic.woff2') format('woff2'),
//     	 url('../fonts/ralewayextralightitalic.woff') format('woff'),
//     	 url('../fonts/ralewayextralightitalic.ttf') format('truetype');
//     font-weight: 200;
//     font-style: italic;
// }
@font-face {
    font-family: 'Raleway';
    src: local('Raleway Light'), local('Raleway-Light'), 
    	 url('../fonts/raleway/ralewaylight.woff2') format('woff2'), 
    	 url('../fonts/raleway/ralewaylight.woff') format('woff'),
    	 url('../fonts/raleway/ralewaylight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
// @font-face {
//     font-family: 'Raleway';
//     src: local('Raleway Light Italic'), local('Raleway-LightItalic'), 
//     	 url('../fonts/ralewaylightitalic.woff2') format('woff2'), 
//     	 url('../fonts/ralewaylightitalic.woff') format('woff'), 
//     	 url('../fonts/ralewaylightitalic.ttf') format('truetype');
//     font-weight: 300;
//     font-style: italic;
// }
@font-face {
    font-family: 'Raleway';
    src: local('Raleway Regular'), local('Raleway-Regular'), 
    	 url('../fonts/raleway/ralewayregular.woff2') format('woff2'), 
    	 url('../fonts/raleway/ralewayregular.woff') format('woff'), 
    	 url('../fonts/raleway/ralewayregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
// @font-face {
//     font-family: 'Raleway';
//     src: local('Raleway Italic'), local('Raleway-Italic'), 
//     	 url('../fonts/ralewayitalic.woff2') format('woff2'), 
//     	 url('../fonts/ralewayitalic.woff') format('woff'), 
//     	 url('../fonts/ralewayitalic.ttf') format('truetype');
//     font-weight: 400;
//     font-style: italic;
// }
@font-face {
    font-family: 'Raleway';
    src: local('Raleway Medium'), local('Raleway-Medium'), 
    	 url('../fonts/raleway/ralewaymedium.woff2') format('woff2'), 
    	 url('../fonts/raleway/ralewaymedium.woff') format('woff'), 
    	 url('../fonts/raleway/ralewaymedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
// @font-face {
//     font-family: 'Raleway';
//     src: local('Raleway Medium Italic'), local('Raleway-MediumItalic'), 
//     	 url('../fonts/ralewaymediumitalic.woff2') format('woff2'), 
//     	 url('../fonts/ralewaymediumitalic.woff') format('woff'), 
//     	 url('../fonts/ralewaymediumitalic.ttf') format('truetype');
//     font-weight: 500;
//     font-style: italic;
// }
@font-face {
    font-family: 'Raleway';
    src: local('Raleway SemiBold'), local('Raleway-SemiBold'), 
    	 url('../fonts/raleway/ralewaysemibold.woff2') format('woff2'), 
    	 url('../fonts/raleway/ralewaysemibold.woff') format('woff'), 
    	 url('../fonts/raleway/ralewaysemibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
// @font-face {
//     font-family: 'Raleway';
//     src: local('Raleway SemiBold Italic'), local('Raleway-SemiBoldItalic'), 
//     	 url('../fonts/ralewaysemibolditalic.woff2') format('woff2'), 
//     	 url('../fonts/ralewaysemibolditalic.woff') format('woff'), 
//     	 url('../fonts/ralewaysemibolditalic.ttf') format('truetype');
//     font-weight: 600;
//     font-style: italic;
// }
@font-face {
    font-family: 'Raleway';
    src: local('Raleway Bold'), local('Raleway-Bold'), 
    	 url('../fonts/raleway/ralewaybold.woff2') format('woff2'), 
    	 url('../fonts/raleway/ralewaybold.woff') format('woff'), 
    	 url('../fonts/raleway/ralewaybold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
// @font-face {
//     font-family: 'Raleway';
//     src: local('Raleway Bold Italic'), local('Raleway-BoldItalic'), 
//     	 url('../fonts/ralewaybolditalic.woff2') format('woff2'), 
//     	 url('../fonts/ralewaybolditalic.woff') format('woff'), 
//     	 url('../fonts/ralewaybolditalic.ttf') format('truetype');
//     font-weight: 700;
//     font-style: italic;
// }
@font-face {
    font-family: 'Raleway';
    src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'), 
    	 url('../fonts/raleway/ralewayextrabold.woff2') format('woff2'), 
    	 url('../fonts/raleway/ralewayextrabold.woff') format('woff'), 
    	 url('../fonts/raleway/ralewayextrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
// @font-face {
//     font-family: 'Raleway';
//     src: local('Raleway ExtraBold Italic'), local('Raleway-ExtraBoldItalic'), 
//     	 url('../fonts/ralewayextrabolditalic.woff2') format('woff2'), 
//     	 url('../fonts/ralewayextrabolditalic.woff') format('woff'), 
//     	 url('../fonts/ralewayextrabolditalic.ttf') format('truetype');
//     font-weight: 800;
//     font-style: italic;
// }
@font-face {
    font-family: 'Raleway';
    src: local('Raleway Black'), local('Raleway-Black'), 
    	 url('../fonts/raleway/ralewayblack.woff2') format('woff2'), 
    	 url('../fonts/raleway/ralewayblack.woff') format('woff'), 
    	 url('../fonts/raleway/ralewayblack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
// @font-face {
//     font-family: 'Raleway';
//     src: local('Raleway Black Italic'), local('Raleway-BlackItalic'), 
//     	 url('../fonts/ralewayblackitalic.woff2') format('woff2'), 
//     	 url('../fonts/ralewayblackitalic.woff') format('woff'), 
//     	 url('../fonts/ralewayblackitalic.ttf') format('truetype');
//     font-weight: 900;
//     font-style: italic;
// }

/*Typhography*/
html{
    overflow-x: hidden;
    overflow-y: scroll;
}
body{
	font-family: 'Raleway';
    letter-spacing: 0.02em;
    overflow-x: hidden;
}
h1{
	font-size: 72px;
	line-height: 90px;
}
h2{
    font-weight: 800;
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 14px;
}
h3{
    font-size: 28px;
    line-height: 42px;
    font-weight: 700;
}
h4{
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 22px;
}
h6{
    font-size: 14px;
    line-height: 21px;
}
p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #4C5045;
    margin-bottom: 30px;
}
a{
    -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
    &.file{
        float: left;
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
        display: block;
        border: 2px solid #00ACE9;
        color: #00ACE9;
        padding: 6px 18px 5px 48px;
        position: relative;
        &::before{
            content: '';
            width: 18px;
            height: 18px;
            display: block;
            position: absolute;
            left: 20px;
            top: 7px;
            background-image: url('../images/icon-file.svg');
        }
        &:hover{
            text-decoration: none;
            opacity: 0.6;
        }
    }
}
img{
    width: 100%;
    height: auto;
}
.nopadding{
    padding-left: 0!important;
    padding-right: 0!important;
}
::-webkit-input-placeholder {
    color: #4C5045;
}
::-moz-placeholder {
    color: #4C5045;
}
:-ms-input-placeholder {
    color: #4C5045;
}
:-moz-placeholder {
    color: #4C5045;
}
.preloader__wrapper{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1000;
    background-color: #fff;
    -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
    &.load{
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
}
.btn{
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
    padding: 10px 30px 9px;
    border-radius: 0;
    border: none;
    position: relative;
    -webkit-transition: all 0.5s ease!important;
            transition: all 0.5s ease!important;
    &::before{
        content: '';
        width: 1px;
        position: absolute;
        top: 6px;
        bottom: 6px;
        left: 5px;
        display: block;
        background-color: #fff;
        -webkit-transition: all 0.5s ease;
                transition: all 0.5s ease;
    }
    &:focus{
        outline: none;
        box-shadow: none;
    }
    &::after{
        content: '';
        width: 1px;
        position: absolute;
        top: 6px;
        bottom: 6px;
        right: 5px;
        display: block;
        background-color: #fff;
        -webkit-transition: all 0.5s ease;
                transition: all 0.5s ease;
    }
    &.btn__black{
        background-color: #2B2F22;
        color: #FFFFFF;
        &:hover{
            background-color: #fff;
            color: #2B2F22;
            &::before,
            &::after{
                background-color: #2B2F22;
            }
        }
    }
    &:hover{
        &::before{
            left: 100%;
            -webkit-transform: rotate(90deg);
                    transform: rotate(90deg);
        }
        &::after{
            right: 100%;
            -webkit-transform: rotate(-90deg);
                    transform: rotate(-90deg);
        }
    }
    &.load{
        opacity: 0.6;
        pointer-events: none;
        cursor: default;
    }
    &.disable{
        opacity: 0;
        pointer-events: none;
    }
}
section{
	width: 100%;
	float: left;
    position: relative;
	&.full__screen{
		height: 100vh;
        min-height: 500px;
		background-size: cover;
		background-position: center bottom;
		position: relative;
        .logo{
            position: absolute;
            left: 50%;
            bottom: 59px;
            -webkit-transform: translateX(-50%);
                    transform: translateX(-50%);
        }
	}
    ul{
        font-family: 'Source Sans Pro', sans-serif;
        padding: 0;
        margin: 0 0 25px 0;
        list-style: none;
        li{
            position: relative;
            padding-left: 30px;
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 9px;
            &::before{
                content: '';
                width: 15px;
                height: 2px;
                display: block;
                position: absolute;
                left: 0;
                top: 11px;
                background-color: #00ACE9;
            }
        }
    }
}
main{
    width: 100%;
    min-height: 80vh;
    float: left;
}
.slick-slide:focus{
    outline: none;
    box-shadow: none;
}
.slick-arrow:focus{
    outline: none;
}
/*Coming soon*/
.coming__soon{
	width: 100%;
	float: left;
	position: absolute;
	top: 50%;
    padding: 0 20px 100px;
	-webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    h1{
    	font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 39px;
        span{
            font-weight: 700;
            clear: both;
            display: block;
        }
    }
}
.inline{
    display: inline-block;
}
.form__inline{
    position: relative;
    display: inline-block;
    div.wpcf7-validation-errors,
    div.wpcf7-acceptance-missing{
        border-width: 1px;
        padding: 5px;
        margin: 40px 0 0;
        color: #2B2F22;
        background-color: rgba(247,231,0,0.2);
    }
}
div.wpcf7-response-output{
    width: 100%;
    float: left;
    margin: 20px 0 0;
    padding: 15px 20px;
    border-width: 1px;
    color: #2B2F22;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
}
.wpcf7-form-control-wrap{
    position: relative;
    .wpcf7-not-valid-tip{
        position: absolute;
        left: 21px;
        bottom: -30px;
        font-size: 11px;
        color: red;
    }
}
.form__row{
    width: 100%;
    float: left;
    .half__field{
        width: 47.5%;
        float: left;
        margin-bottom: 30px;
        &:first-child{
            margin-right: 2.5%;
        }
        &:last-child{
            margin-left: 2.5%;
        }
    }
}
.submit__group{
    width: auto;
    float: left;
    position: relative;
    &::before{
        content: '';
        width: 1px;
        position: absolute;
        top: 6px;
        bottom: 6px;
        left: 5px;
        display: block;
        z-index: 2;
        background-color: #fff;
        -webkit-transition: all 0.5s ease;
                transition: all 0.5s ease;
    }
    &::after{
        content: '';
        width: 1px;
        position: absolute;
        top: 6px;
        bottom: 6px;
        right: 5px;
        display: block;
        z-index: 2;
        background-color: #fff;
        -webkit-transition: all 0.5s ease;
                transition: all 0.5s ease;
    }
    .ajax-loader{
        position: absolute;
        margin: 0 0 0 -8px!important;
        bottom: -18px;
        left: 50%;
    }
    &:hover{
        &::before{
            left: 100%;
            background-color: #2B2F22;
            -webkit-transform: rotate(90deg);
                    transform: rotate(90deg);
        }
        &::after{
            right: 100%;
            background-color: #2B2F22;
            -webkit-transform: rotate(-90deg);
                    transform: rotate(-90deg);
        }
    }
}
.field__group{
    width: 100%;
    float: left;
    margin-bottom: 30px;
    &.half{
        width: 50%;
        padding-right: 30px;
        textarea.form__field{
            min-height: 80px;
        }
    }
    .wpcf7-form-control-wrap{
        width: 100%;
        float: left;
        line-height: 0;
        font-size: 0;
    }
}
textarea.form__field{
    min-height: 120px;
    max-width: inherit;
}
.contact__us{
    .form__field{
        border: 1px solid rgba(255, 255, 255, 0.3);
        color: #fff;
    }
    .wpcf7-not-valid-tip{
        display: none;
    }
    div.wpcf7-response-output{
        margin: 0;
    }
}
.form__field{
    width: 100%;
    height: 40px;
    padding: 12px 20px;
    background: transparent;
    border: 1px solid rgba(76, 80, 69, 0.15);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    resize: none;
    &.black{
        
    }
    &:focus{
        outline: none;
    }
    &.wpcf7-not-valid{
        border-color: #ff9797;
    }
}
.form__submit{
    min-width: 191px;
    padding: 10px 30px 9px;
    background: #2B2F22;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 1;
    -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
    &.green{
        background: #00ACE9;
    }
    &:hover{
        background-color: #fff;
        color: #2B2F22;
    }
    &:focus{
        outline: none;
    }
}
.submit__btn{
    position: relative;
    &::before{
        content: '';
        width: 1px;
        height: 32px;
        display: block;
        background-color: #fff;
        position: absolute;
        left: 5px;
        top: 6px;
        z-index: 2;
        -webkit-transition: all 0.3s ease;
                transition: all 0.3s ease;
    }
    &::after{
        content: '';
        width: 1px;
        height: 32px;
        display: block;
        background-color: #fff;
        position: absolute;
        right: 5px;
        bottom: 6px;
        z-index: 2;
        -webkit-transition: all 0.3s ease;
                transition: all 0.3s ease;
    }
    &:hover{
        &::before{
            left: auto;
            right: 5px;
            background-color: #2B2F22;
        }
        &::after{
            right: auto;
            left: 5px;
            background-color: #2B2F22;
        }
    }
    .ajax-loader{
        position: absolute;
        top: 14px;
    }
}
@include media-breakpoint-down(md){
    section.full__screen{
        min-height: 600px;
    }
    .coming__soon {
        h1{
            font-size: 36px;
            line-height: 40px;
        }
        .inline{
            width: 100%;
        }
        .email__field{
            margin-bottom: 30px;
        }
    }
    .submit__btn .ajax-loader{
        left: 50%;
        margin: 0 0 0 -8px!important;
        bottom: -20px;
        top: auto;
    }
    .field__group.half{
        width: 100%;
        padding-right: 0;
    }
    .form__field{
        max-width: 100%;
    }
    .form__submit{
        width: 100%;
    }
}
.slick-arrow{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0;
    display: block;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border: none;
    cursor: pointer;
    z-index: 1;
    font-size: 0;
    color: transparent;
    -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
    &.slick-disabled,
    &:active{
        opacity: 0.5;
    }
    &.slick-disabled{
        cursor: inherit;
    }
    &::before{
        content: '';
        width: 20px;
        height: 11px;
        display: block;
        position: absolute;
        background-image: url('../images/icon-next.svg');
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
    }
    &.slick-prev{
        right: 50px;
        overflow: visible;
        &::after{
            content: '';
            width: 1px;
            height: 34px;
            display: block;
            position: absolute;
            top: 8px;
            right: 0px;
            background-color: #E1E1E1;
        }
        &::before{
            background-image: url('../images/icon-prev.svg');
        }
    }
}
/*Home page*/
.banner__slider{
    width: 100%;
    float: left;
    position: relative;
    .slide{
        width: 100%;
        height: 750px;
        float: left;
        background-size: cover;
        background-position: center;
        position: relative;
        .content{
            width: 100%;
            position: absolute;
            left: 0;
            top: 70%;
            opacity: 0;
            visibility: hidden;
            -webkit-transition: all 1.5s ease;
                    transition: all 1.5s ease;
            -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
        }
        &.slick-active{
            .content{
                opacity: 1;
                visibility: visible;
                top: 50%;
            }
        }
    }
    h2{
        font-size: 56px;
        font-weight: 400;
        line-height: 70px;
        text-transform: uppercase;
        position: relative;
        margin-bottom: 5px;
        &::before{
            content: '';
            width: 36px;
            height: 2px;
            display: block;
            background-color: #00ACE9;
            position: absolute;
            top: 34px;
            left: -11px;
        }
        strong,
        b{
            font-weight: 800;
        }
    }
    p{
        margin-bottom: 34px;
    }
}
.title{
    h2{
        text-transform: uppercase;
        position: relative;
        &::before{
            content: '';
            width: 26px;
            height: 2px;
            display: block;
            background-color: #00ACE9;
            position: absolute;
            top: 29px;
            left: -10px;
        }
    }
}
.about__us{
    padding: 150px 0 75px;
    .title{
        margin-top: 40px;
    }
    .background{
        height: 400px;
        float: left;
        background-size: cover;
        background-position: center;
        position: absolute;
        top: 0;
        left: 15px;
        right: 15px;
    }
    .slider{
        width: 100%;
        float: left;
        position: relative;
        margin-top: 80px;
        &::before{
            content: '';
            position: absolute;
            left: -20px;
            right: 0;
            top: -20px;
            bottom: 20px;
            display: block;
            background-color: #fff;
        }
        .slide{
            width: 100%;
            height: 400px;
            background-size: cover;
            background-position: center;
        }
    }
}
.services{
    padding: 60px 0 135px;
    .title{
        width: 100%;
        height: 270px;
        display: block;
        float: left;
        position: relative;
        margin: 15px 0;
        h2{
            position: absolute;
            top: 50%;
            left: 0;
            margin-bottom: 0;
            -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
        }
    }
    &::before{
        content: '';
        width: 412px;
        height: 582px;
        display: block;
        position: absolute;
        right: 0;
        top: -230px;
        background-image: url('../images/patern.svg');
        z-index: -1;
    }
}
.service{
    width: 100%;
    height: 270px;
    float: left;
    display: block;
    background-size: cover;
    background-position: center;
    margin: 15px 0;
    position: relative;
    -webkit-transition: inherit;
            transition: inherit;
    &:hover{
        &::before{
            opacity: 1;
            visibility: visible;
        }
        h4::before{
            top: 40px;
        }
    }
    &::before{
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.7);
        z-index: 9;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all 0.5s ease;
                transition: all 0.5s ease;
    }
    h4{
        width: 100%;
        float: left;
        padding: 35px 15px 0 25px;
        color: #FFFFFF;
        position: relative;
        margin-bottom: 0;
        z-index: 10;
        &::before{
            content: '';
            width: 2px;
            height: 111px;
            display: block;
            position: absolute;
            top: -10px;
            left: 10px;
            background-color: #00ACE9;
            -webkit-transition: all 0.5s ease;
                    transition: all 0.5s ease;
        }
    }
}
.contact__us{
    padding: 114px 0 110px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    .title{
        h2{
            color: #fff;
        }
    }
    .text{
        width: 100%;
        float: left;
        margin-bottom: 4px;
        p{
            color: #fff;
        }
    }
    .form__row{
        width: 100%;
        float: left;
        max-width: 721px;
    }
    ::-webkit-input-placeholder {
        color: rgba(255,255,255,0.8);
    }
    ::-moz-placeholder {
        color: rgba(255,255,255,0.8);
    }
    :-ms-input-placeholder {
        color: rgba(255,255,255,0.8);
    }
    :-moz-placeholder {
        color: rgba(255,255,255,0.8);
    }
    .wpcf7-form-control-wrap{
        .wpcf7-not-valid-tip{
            left: 20px;
            bottom: -20px;
            color: #fff;
        }
    }
    div.wpcf7-response-output{
        color: #fff;
    }
}
.field__row{
    width: 100%;
    float: left;
    .wpcf7-form-control-wrap{
        max-width: 260px;
        float: left;
        position: relative;
    }
    .form__field{
        max-width: 400px;
        border: 1px solid rgba(255,255,255,0.3);
        color: rgba(255,255,255,0.8);
        &.right{
           border-left: none; 
        }
    }
    input[type="submit"]{
        float: left;
        margin-left: 10px;
    }
}
.objects__section{
    padding: 134px 0 75px;
    .title{
        width: 100%;
        float: left;
        margin-bottom: 3px;
        h2{
            float: left;
        }
        .objects__nav{
            width: 80px;
            height: 40px;
            float: left;
            position: relative;
            margin: 8px 0 0 16px;
            .slick-arrow{
                width: 40px;
                height: 40px;
            }
            .slick-prev{
                right: 40px;
                &::after{
                    display: none;
                }
            }
        }
    }
}
.object{
    width: 100%;
    max-width: 504px;
    height: 477px;
    display: block;
    border: 1px solid rgba(76,80,69,0.15);
    padding: 29px 30px;
    position: relative;
    margin: 20px auto 40px;
    &::before{
        content: '';
        width: 70px;
        height: 2px;
        display: block;
        position: absolute;
        top: 165px;
        left: -20px;
        background-color: #00ACE9;
        -webkit-transition: all 0.5s ease;
                transition: all 0.5s ease;
    }
    h4{
        color: #2B2F22;
        padding-right: 30px;
        -webkit-transition: all 0.5s ease;
                transition: all 0.5s ease;
    }
    p{
        font-size: 18px;
        line-height: 27px;
        color: #4C5045;
    }
    .thumbnail{
        width: 504px;
        height: 320px;
        position: absolute;
        bottom: -30px;
        right: -30px;
        overflow: hidden;
    }
    img{
        width: 100%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        -webkit-transition: all 0.5s ease;
                transition: all 0.5s ease;
    }
    &:hover{
        text-decoration: none;
        h4{
            // color: #00ACE9;
        }
        img{
            -webkit-filter: grayscale(100%);
                    filter: grayscale(100%);
        }
        &::before{
            left: 30px;
        }
    }
}
.btn__row{
    width: 100%;
    float: left;
    margin-top: 70px;
}
.contacts{
    margin: 75px 0 0;
    min-height: 550px;
    position: relative;
    &::before{
        content: '';
        width: 412px;
        height: 522px;
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        background-image: url('../images/patern-2.svg');
        z-index: -1;
    }
    &.noimage{
        margin: 0;
        min-height: inherit;
        .title{
            margin-top: 0;
        }
    }
    .title{
        width: 100%;
        float: left;
        margin-top: 120px;
        h2{
            margin-bottom: 13px;
        }
    }
    .text{
        width: 100%;
        float: left;
        h6{
            margin-bottom: 0;
        }
        p{
            margin-bottom: 18px;
        }
        a{
            color: #2B2F22;
        }
    }
    .image{
        width: 60%;
        height: 550px;
        float: left;
        background-size: cover;
        background-position: center;
        position: absolute;
        right: 0;
        bottom: 0;
    }
    .form__block{
        width: 100%;
        float: left;
    }
}
.page__banner{
    height: 300px; 
    background-size: cover;
    background-position: center;
    position: relative;
    .content{
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 50px;
        h1{
            font-weight: 400;
            font-size: 40px;
            line-height: 60px;
            text-transform: uppercase;
            color: #2B2F22;
            margin-bottom: 0;
            b{
                position: relative;
                font-weight: 800;
                &::before{
                    content: '';
                    width: 26px;
                    height: 2px;
                    display: block;
                    position: absolute;
                    background-color: #00ACE9;
                    top: 22px;
                    left: -12px;
                }
            }
            span{
                font-weight: 800;
                position: relative;
                display: block;
                clear: both;
                &::before{
                    content: '';
                    width: 26px;
                    height: 2px;
                    display: block;
                    position: absolute;
                    background-color: #00ACE9;
                    top: 28px;
                    left: -12px;
                }
            }
        }
    }
}
.breadcrumb__section{
    margin: 12px 0 99px;
}
.breadcrumb{
    width: 100%;
    float: left;
    padding: 0;
    margin: 0;
    background-color: transparent;
    font-family: 'Source Sans Pro', sans-serif;
    span{
        font-size: 16px;
        line-height: 24px;
        color: #4C5045;
        a {
            &:hover{
                text-decoration: none;
                span{
                    color: #4C5045;
                }
            }
            span{
                color: rgba(76, 80, 69, 0.6);
                -webkit-transition: all 0.3s ease;
                        transition: all 0.3s ease;
            }
        }
    }
    .sep{
        display: block;
        float: left;
        width: 1px;
        height: 20px;
        background-color: #DEDEDE;
        margin: 2px 8px 0;
    }
}
.services__section{
    padding: 0 0 110px;
}

.objects__slider{
    width: 100%;
    float: left;
    .slide{
        overflow: hidden;
        &:focus{
            outline: none;
            box-shadow: none;
        }
        .object{
            margin-bottom: 30px;
        }
    }
}
.service__information{
    padding: 0 0 150px;
    .image{
        width: 100%;
        height: 400px;
        display: block;
        position: relative;
        border: 1px solid #DEDEDE;
        overflow: hidden;
        img{
            max-width: 100%;
            height: auto;
            width: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
        }
    }
    .text{
        margin: 20px 0 0 0;
    }
}
.objects__banner{
    height: 300px;
    background-position: center;
    background-size: cover;
    position: relative;
    .content{
        width: 100%;
        float: left;
        position: absolute;
        bottom: 50px;
        left: 0;
        h1{
            font-size: 40px;
            line-height: 60px;
            color: #2B2F22;
            margin-bottom: 0;
            text-transform: uppercase;
            position: relative;
            &::before{
                content: '';
                width: 26px;
                height: 2px;
                display: block;
                position: absolute;
                left: -10px;
                top: 29px;
                background-color: #00ACE9;
            }
            span{
                display: block;
                clear: both;
                font-weight: 800;
            }
        }
    }
}
.objects__posts{
    padding: 0 0 150px;
    &::before{
        content: '';
        width: 412px;
        height: 582px;
        display: block;
        position: absolute;
        right: 0;
        bottom: -110px;
        background-image: url('../images/patern.svg');
        z-index: -1;
    }
}
.show__more{
    width: 100%;
    float: left;
    margin: 30px 0 0;
}
.object__gallery{
    padding: 0 0 120px;
    h3{
        margin-bottom: 29px;
    }
    &::before{
        content: '';
        width: 412px;
        height: 582px;
        display: block;
        position: absolute;
        right: 0;
        bottom: -70px;
        background-image: url('../images/patern.svg');
        z-index: -1;
    }
}
.object__image{
    width: 100%;
    height: 320px;
    display: block;
    float: left;
    border: 1px solid rgba(76, 80, 69, 0.2);
    margin-bottom: 30px;
    position: relative;
    .thumbnail{
        position: absolute;
        top: 15px;
        right: 15px;
        bottom: 15px;
        left: 15px;
        display: block;
        overflow: hidden;
    }
    img{
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
    }
    &:hover{
        opacity: 0.6!important;
    }
}
.about__company{
    padding: 0 0 50px;
    .left__side{
        width: 100%;
        float: left;
        margin-top: 100px;
    }
    .right__side{
        ul{
            columns: 2;
        }
    }
}
.service__categories{
    padding-bottom: 150px;
    overflow: hidden;
    &::before{
        content: '';
        width: 412px;
        height: 582px;
        display: block;
        position: absolute;
        right: 0;
        bottom: -70px;
        background-image: url('../images/patern.svg');
        z-index: -1;
    }
}
.partners__section{
    padding: 134px 0 0;
    .title{
        width: 100%;
        float: left;
        margin-bottom: 3px;
        h2{
            float: left;
        }
        .partners__nav{
            width: 80px;
            height: 40px;
            float: left;
            position: relative;
            margin: 8px 0 0 16px;
            .slick-arrow{
                width: 40px;
                height: 40px;
            }
            .slick-prev{
                right: 40px;
                &::after{
                    display: none;
                }
            }
        }
    }
}
.partners{
    width: 100%;
    float: left;
    a.partner{
        &:hover{
            img{
                -webkit-filter: grayscale(100%);
                        filter: grayscale(100%);
            }
        }
        &:focus{
            outline: none;
        }
    }
    .partner{
        width: 100%;
        height: 140px;
        position: relative;
        display: block;
        img{
            width: auto;
            max-width: 100%;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transition: all 0.3s ease;
                    transition: all 0.3s ease;
            -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
        }
    }
}
@include media-breakpoint-down(lg){
    .object{
        max-width: 430px;
        &::before{
            top: 210px;
        }
        .thumbnail{
            height: 275px;
            width: 430px;
        }
    }
}
@include media-breakpoint-down(md){
    .banner__slider h2{
        font-size: 40px;
        line-height: 52px;
        &::before{
            top: 24px;
        }
    }
    h2{
        font-size: 28px;
        line-height: 36px;
    }
    .title h2::before{
        top: 18px;
    }
    .partners__section .title .partners__nav{
        margin: -4px 0 0 16px;
    }
    .about__us{
        padding: 70px 0 50px;
        .title{
            margin-top: 0;
        }
        .background{
            display: none;
        }
    }
    .services{
        padding: 50px 0;
        .title{
            height: auto;
            margin-bottom: 50px;
        }
    }
    .contact__us{
        padding: 50px 0;
    }
    .field__row{
        .wpcf7-form-control-wrap,
        .form__field{
            width: 100%;
            max-width: 100%;
        }
        .wpcf7-form-control-wrap{
            margin-bottom: 30px;
        }
        .form__field{
            &.left,
            &.right{
               border: 1px solid rgba(255,255,255,.3); 
            }
        }
        input[type="submit"]{
            margin-left: 0;
        }
    }
    .partners__section{
        padding: 70px 0 30px;
    }
    .object{
        max-width: 100%;
        &::before{
            top: 62px;
        }
        .thumbnail{
            width: 100%;
            position: relative;
            right: 0;
            bottom: 0;
        }
    }
    .contacts {
        min-height: auto;
        margin: 30px 0 50px;
        .title{
            margin-top: 0;
        }
        .image {
            display: none;
        }
    }
    .about__company .left__side{
        margin-top: 0;
    }
    footer {
        .menu__block{
            width: 100%;
            float: left;
        }
        .footer__nav {
            width: 100%;
            float: left;
            ul {
                width: 100%;
                float: left;
                margin-top: 30px!important;
                li{
                    width: 50%;
                    float: left;
                    margin: 0!important;
                    a{
                        padding: 10px 0!important;
                    }
                }
            }
        }
    }
    .contacts.noimage{
        .form__block{
            margin: 50px 0 80px;
        }
    }
    .objects__section .title .objects__nav{
        margin: -4px 0 0 16px;
    }
}

@include media-breakpoint-down(sm){
    .page__banner .content h1{
        font-size: 32px;
        line-height: 44px;
        b::before{
            top: 18px;
        }
    }
    .banner__slider {
        .slide{
            height: 600px;
        }
        h2{
            font-size: 32px;
            line-height: 44px;
            &::before{
                top: 21px;
            }
        }
    }
    .about__company .right__side ul{
        columns: 1;
        li{
            width: 100%;
            float: left;
        }
    }
    .object{
        height: auto;
        padding: 29px 30px;
        p{
            font-size: 16px;
            line-height: 24px;
        }
        .thumbnail{
            width: 100%;
            height: auto;
            position: static;
            img{
                width: 100%;
                position: static;
                -webkit-transform: translate(0);
                        transform: translate(0);
            }
        }
    }
}
@include media-breakpoint-down(xs){
    .service__information .image{
        height: 300px;
    }
    .social__block h6{
        display: none;
    }
}